<div class="session-timeout-container">
	<ng-container *ngIf="remainingTime; else sessionExpiredTemplate">
		<div>Your session will expire in <strong>{{ remainingTime }} seconds</strong> due to inactivity</div>

		<div class="action-buttons">
			<button type="button" mat-flat-button color="primary" [mat-dialog-close]="true"
				(click)="logout()">Logout</button>

			<button type="button" mat-flat-button color="accent" [mat-dialog-close]="true">Stay Logged In</button>
		</div>
	</ng-container>

	<ng-template #sessionExpiredTemplate>
		<div>Your session has expired due to inactivity</div>

		<div class="action-buttons">
			<button type="button" mat-flat-button color="accent" [mat-dialog-close]="true">Ok</button>
		</div>
	</ng-template>
</div>