<div *ngSwitchCase="questionType.SingleSelectDropdown">
    <mat-form-field class="d-block">
        <mat-label for="question">Enter the Question</mat-label>
        <input matInput id="question" formControlName="question">
      </mat-form-field>
      <div *ngFor="let signleOption of singleOptions; let i = index">
      <mat-form-field class="d-block">
        <mat-label for="option">option</mat-label>
        <input 
            matInput 
            placeholder="option-{{i}}" 
            value="" id="option-{{i}}" 
            [(ngModel)]="signleOption.field" 
           >
      </mat-form-field>
      <button mat-raised-button color="primary" type="button" (click)="addOptions()">Add Options</button>
      </div>
      <!-- <form [formGroup]="questionForms" (ngSubmit)="submitForm()">
        <div formArrayName="options">
          <div *ngFor="let option of questionForms.get('options')['controls']; let i = index">
            <mat-form-field class="d-block">
              <mat-label for="option">Option</mat-label>
              <input 
                  matInput 
                  placeholder="Option-{{i}}" [formControl]="option.get('field')">
            </mat-form-field>
          </div>
        </div>
      
        <button mat-raised-button color="primary" type="button" (click)="addOptions()">Add Options</button>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form> -->
      <mat-checkbox formControlName="isRequired">Is Required</mat-checkbox>
</div>
