<div class="container">
  <button mat-raised-button color="primary" [routerLink]="createFormBtn">Create Form</button>

  <mat-card class="example-card" *ngFor="let list of formResponse?.value" style="margin-bottom: 20px">
    <mat-card-header>
        <mat-card-title>{{ list.formId}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <h5>{{ list.title}}</h5>
      <p>{{ list.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">{{ list.status}}</button>
      <button  mat-raised-button color="warn" (click)="deleteForm(list.formId)">Delete</button>
    </mat-card-actions>
  </mat-card>



</div>