<form [formGroup]="questionForms">
    {{getQuestionType(question.questionType)}}

    <!-- ng Switch Qustion Type-->
    <div [ngSwitch]="question.questionType">
        <div *ngSwitchCase="questionType.Numeric">
            <!-- Numeric Question-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
        </div>


        <div *ngSwitchCase="questionType.SingleSelectDropdown">
            <!-- Signle Select DropDown Start-->
            <tq-single-select-question [sectionId]="section.sectionId" [questionId]="question.questionId"
                [question]="question" [questionIndex]="questionIndex"></tq-single-select-question>
            <!-- Signle Select DropDown End-->
        </div>


        <div *ngSwitchCase="questionType.MultiSelectDropdown">
            <!-- Multi Select DropDown Start-->
            <tq-single-select-question [sectionId]="section.sectionId" [questionId]="question.questionId"
                [question]="question" [questionIndex]="questionIndex"></tq-single-select-question>
            <!-- Multi Select DropDown End-->
        </div>


        <div *ngSwitchCase="questionType.StarRating">
            <!-- Star Rating Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Star Rating End-->
        </div>


        <div *ngSwitchCase="questionType.TextResponse">
            <!-- Text Type Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Text Type End-->
        </div>


        <div *ngSwitchCase="questionType.YesNoResponse">
            <!-- Yes or No Type Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Yes or No Type End-->
        </div>
        <input type="hidden" id="formId" formControlName="formId" [(ngModel)]="formData.formId">
        <input type="hidden" id="sectionId" formControlName="sectionId" [(ngModel)]="section.sectionId">


        <button mat-raised-button color="warn" (click)="deleteQuestion(question)">
            Delete Question
        </button>

    </div>




</form>