<form [formGroup]="questionForms">
    <mat-form-field appearance="outline" class="d-block">
        <mat-label>Question Type</mat-label>
        <select matNativeControl required formControlName="questionType" (change)="addQuestion(questionForms)"
            #qesSelect>
            <option>Select Question Type</option>
            <option [value]="type" *ngFor="let type of questionTypes">{{ type }}</option>
        </select>
    </mat-form-field>
    <input type="hidden" id="formId" formControlName="formId" [(ngModel)]="formData.formId">
    <input type="hidden" id="sectionId" formControlName="sectionId" [(ngModel)]="section.sectionId">

    <!-- ng Switch Qustion Type-->
    <div [ngSwitch]="makeEnum(questionForms.get('questionType')?.value)">
        <div *ngSwitchCase="questionType.Numeric">
            <!-- Numeric Question-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
        </div>


        <div *ngSwitchCase="questionType.SingleSelectDropdown">
            <!-- Signle Select DropDown Start-->
            <tq-single-select-question [sectionId]="section.sectionId" [questionId]="question.questionId"
                [question]="question" [questionIndex]="questionIndex"></tq-single-select-question>
            <!-- Signle Select DropDown End-->
        </div>


        <div *ngSwitchCase="questionType.MultiSelectDropdown">
            <!-- Multi Select DropDown Start-->
            <tq-single-select-question [sectionId]="section.sectionId" [questionId]="question.questionId"
                [question]="question" [questionIndex]="questionIndex"></tq-single-select-question>
            <!-- Multi Select DropDown End-->
        </div>


        <div *ngSwitchCase="questionType.StarRating">
            <!-- Star Rating Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Star Rating End-->
        </div>


        <div *ngSwitchCase="questionType.TextResponse">
            <!-- Text Type Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Text Type End-->
        </div>


        <div *ngSwitchCase="questionType.YesNoResponse">
            <!-- Yes or No Type Start-->
            <tq-text-question [sectionId]="section.sectionId" [questionId]="question.questionId" [question]="question"
                [questionIndex]="questionIndex">
            </tq-text-question>
            <!-- Yes or No Type End-->
        </div>

        <button mat-raised-button color="warn" (click)="deleteQuestion(question)">Delete
            Question</button>

    </div>




</form>