<div *ngSwitchCase="questionType.YesNoResponse">
    <mat-form-field class="example-full-width d-block">
        <mat-label>Enter the Question</mat-label>
        <input 
           matInput 
           placeholder="Enter the Question" 
           value="">
    </mat-form-field>

    <div>
        <mat-form-field class="example-full-width d-block">
            <mat-label>Answer</mat-label>
            <input 
               matInput 
               placeholder="Answer" 
               value="">
        </mat-form-field>

        <mat-form-field class="example-full-width d-block">
            <mat-label>Answer</mat-label>
            <input 
               matInput 
               placeholder="Answer" 
               value="">
        </mat-form-field>
    </div>
</div>
