<form [formGroup]="questionForms">
    <mat-form-field appearance="outline" class="d-block">
        <mat-label for="text">Enter the Question</mat-label>
        <input type="text" matInput id="text" formControlName="text">
    </mat-form-field>

    <div>
        <mat-form-field class="example-full-width d-block">
            <mat-label for="option1">Option 1</mat-label>
            <input matInput placeholder="Answer" type="option1" id="option1" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width d-block">
            <mat-label for="option2">Option 2</mat-label>
            <input matInput placeholder="Answer" type="option2" id="option2" value="">
        </mat-form-field>
    </div>
    <mat-checkbox formControlName="required">Is Required</mat-checkbox>
</form>