<div class="container" *ngIf="formSetting">
    <h2>{{formSetting.title}}</h2>
    <h4>{{formSetting.description}}</h4>
    <hr />
    <mat-vertical-stepper [linear]="true" #stepper>
        <!-- Step 1 -->
        <mat-step *ngFor="let section of formSetting.sections; let i = index">
            <ng-template matStepLabel>{{section.name}}</ng-template>
            <h4 class="mb-5">{{ section.description}}</h4>
            <tq-user-questions *ngFor="let question of section.questionsWithResponses; let j = index"
                [questions]="question" [index]="j" [formId]="formSetting.formId"
                (formSubmitted)="userFormSubmit()"></tq-user-questions>

        </mat-step>
    </mat-vertical-stepper>
    <div class="d-flex justify-content-end">
        <button mat-raised-button color="primary" class="mt-3 mb-3" (click)="submitForm()" type="submit">Submit</button>
    </div>


</div>