<div class="container">
  <button mat-raised-button color="accent" (click)="lockForm()" mat-button>lock Form</button>


  <form action="" [formGroup]="createForm" (ngSubmit)="createFormSubmit()">
    <div>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label for="title">Title</mat-label>
        <input matInput id="title" formControlName="title">
        <mat-error *ngIf="!title?.valid && ( title?.touched || title?.dirty)">
          <span *ngIf="title?.errors?.required">Title is Required</span>
          <span *ngIf="title?.errors?.minlength">Need Minimum 2 Character</span>
          <span *ngIf="title?.errors?.maxLength">Need Maximum 200 Character</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="d-block">
        <mat-label for="description">Description</mat-label>
        <input matInput id="description" formControlName="description">
        <mat-error *ngIf="!description?.valid && ( description?.touched || description?.dirty)">
          <span *ngIf="description?.errors?.required">Description is Required</span>
          <span *ngIf="description?.errors?.minlength">Need Minimum 2 Character</span>
          <span *ngIf="description?.errors?.maxLength">Need Maximum 200 Character</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="d-flex align-items-center justify-content-between">
      <!-- <button mat-button [routerLink]="backBtn">Back</button> -->
      <button mat-raised-button color="primary" [disabled]="!createForm.valid">Create
        Form</button>
    </div>

  </form>

  <div *ngIf="formData">

    <tq-create-section [formData]="saveSettingsForm"></tq-create-section>
  </div>

  <button mat-button mat-raised-button color="primary" class="float-right" (click)="submitForm()">Save form</button>
</div>