<div *ngIf="formResponse" class="container">
    <div>
        <div class="mb-4">
            <strong>Form Name:</strong>
            <p class="mt-2">{{ formResponse.title }}</p>
        </div>
        <div class="mb-4">
            <strong>Form Description:</strong>
            <p class="mt-2">{{ formResponse.description }}</p>
        </div>
    </div>

    <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step *ngFor="let section of formResponse.sections; let i = index">
            <ng-template matStepLabel>Section {{i + 1}}</ng-template>
            <p>
                <strong>Section Name:</strong>
                {{ section.name }}
            </p>

            <p>
                <strong>Section Description:</strong>
                {{ section.description }}
            </p>

            <div *ngFor="let question of section.questionsWithResponses; let i = index">
                <p>
                    <strong>Question {{ i + 1 }}:</strong>
                    {{ question.text }}
                </p>

                <p *ngIf="question.questionType == 6">
                    <strong>Answer {{ i + 1 }}:</strong>
                    {{ question.responseOptions[question.response] }}
                </p>

                <p *ngIf="question.questionType == 5">
                    <strong>Answer {{ i + 1 }}:</strong>
                    <ng-container *ngIf="question.response">
                        <ng-container *ngFor="let multiOptionPart of question.response.split('|'); let j = index">
                            {{ j > 0 ? '|' : '' }} {{ question.responseOptions[multiOptionPart] }}
                        </ng-container>
                    </ng-container>
                </p>

                <p *ngIf="question.questionType == 4">
                    <strong>Answer {{ i + 1 }}:</strong>
                    <tq-star-rating [rating]="+question.response" [starCount]="5" [disabled]="true"></tq-star-rating>
                </p>

                <p *ngIf="![4, 5, 6].includes(question.questionType)">
                    <strong>Answer {{ i + 1 }}:</strong>
                    {{ question.response }}
                </p>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>